\---
layout: base
\---

%h1<= "Prototypes"

%p<
  Below are some of the prototypes I've built using FramerJS as explorations of interesting interaction models.

.work
  {% for p in site.prototypes %}
  .work-thumb
    %a{ href: "{{ site.baseurl }}{{ p.url }}" }
      %img{ src: "{{ site.baseurl }}/images/{{ p.thumb }}", alt: "{{ p.name }}" }
      {{ p.name }}
  {% endfor %}
